
/*
1.0 Tag Adjustments
2.0 Container
3.0 Flags
*/

/*1.0 Tag Adjustments*/


h1 {
  text-align: center;
  text-size:42px;

}

body {
  margin-top: 3rem;
}

/*2.0 Container*/

* {
  box-sizing: border-box; }
.wrapper{
  grid-template-columns: 1fr 1fr 1fr 1fr;



}

.flags{
width: 350px;
height: 200px;
border: 1px solid #ccc;
margin-left: 30px;
margin-bottom: 30px;
margin-top: 30px;
float:left;
padding-left: 50px;
padding-right: 50px;

}


/*3.0 Flags*/

/*3.1 Flag Title*/
.title{
   display: inline-block;
   position: relative;
  margin-top: 300px;
  background-color: blue;
  width: 200px;
  float:left;

}

/*3.2 Flags by country*/

.andorra{
box-sizing: border-box;
 border-right: 80px solid #cf113b;
 border-left: 80px solid #051da7;
 width: 150px;
 background: url(../images/Coat_of_arms_of_Andorra.svg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: 80px 80px;
 background-color: #fdde32;

}
.antiguabarbuda {
box-sizing: border-box;
background-color: #000000;
width: 260px;
position: relative;
overflow: hidden;
}

.antiguabarbuda .left {
  width: 175px;
  height: 310px;
  background: red;
  position: absolute;
  bottom: -155px;
  left: -80px;
  transform: rotate(-43deg);
}
.antiguabarbuda .right {
  width: 175px;
  height: 310px;
  background: red;
  position: absolute;
  bottom: -150px;
  left: 145px;
  transform: rotate(40deg);
}
.antiguabarbuda .white {
  width: 300px;
  height: 100px;
  background: white;
  position: absolute;
  bottom: -30px;
  left: 0px;
}
.antiguabarbuda .blue {
  width: 350px;
  height: 125px;
  background: #1175c5;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
.antiguabarbuda .circle {
  width: 100px;
	height: 100px;
	background: #fbd133;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: absolute;
  bottom: 45px;
  left: 70px;
}
.antiguabarbuda .triangle{
  width: 0px;
	height: 0px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 45px solid #fbd133 ;
  position: absolute;
  bottom: 92px;
  left: 60px;
  transform: rotate(-90deg);

}
.t1 {
  width: 0px;
	height: 0px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 45px solid #fbd133 ;
  position: absolute;
  bottom: 200px;
  left: 60px;
  transform: rotate(-40deg);


}

.australia{
  box-sizing: border-box;
  background-color: #021f67;
  border-right: 80px solid #021f67;
  border-left: 80px solid #021f67;
  width: 80px;

}


.bahamas{
  box-sizing: border-box;
  position: relative;
  background-color: #fbd133;
  width: 260px;
  overflow: hidden;


}
.bahamas .borders-top{
  box-sizing: border-box;
  position: relative;
  bottom: -10;
  left: -50px;
  background-color: #36acca;
  width: 259px;
  height: 70px;
  overflow: hidden;
}
.bahamas .borders-bottom{
  box-sizing: border-box;
  position: relative;
  bottom:-60px;
  left: -50px;
  background-color: #36acca;
  width: 259px;
  height: 70px;
  overflow: hidden;
}

.bahtriangle{
    width: 0;
  	height: 0;
  	border-top: 120px solid transparent;
  	border-left: 190px solid black;
  	border-bottom: 120px solid transparent;
    position: absolute;
    left:-40px;
    bottom: -20px;
}

.barbados{
  box-sizing: border-box;
  border-right: 80px solid #03257e;
  border-left: 80px solid #03257e;
  width: 80px;
  background: url(../images/broken_trident.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-color: #fec73a;
}
.canada{
  box-sizing: border-box;
  border-right: 80px solid #d32d27;
  border-left: 80px solid #d32d27;
  width: 80px;
  background: url(../images/canada_leaf.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-color: #ffffff;

}
.belize{
  box-sizing: border-box;
  position: relative;
  width: 260px;
  background-color: #063f86;
  border-top: 25px solid #c80029;
  border-bottom: 25px solid #c80029;
}
.belize .becircle{
  width: 135px;
  height: 135px;
  position: absolute;
  left: 55px;
  bottom: 7px;
  background color: white;
  background: url(../images/Coat_of_arms_of_Belize.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 135px 135px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 145px;
  overflow: hidden;
}
.grenada{
  box-sizing: border-box;
  position: relative;
  width: 260px;
  overflow: hidden;
  background-color: #cd1028;

}
.grenada .grencircle{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 110px;
  bottom: 75px;
  background-color:red;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.grenada .gren-y-rect{
  width: 220px;
  height: 150px;
  background-color: #fbd133;
  position: absolute;
  bottom:22px;
  left: 20px;


}
.grenada .grentrileft{
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 75px solid transparent;
  border-left: 130px solid #0f7a5e;
  border-bottom: 75px solid transparent;
  position: absolute;
  bottom: 22px;
  left: 20px;

}
.grenada .grentriright{
  border-top: 75px solid transparent;
  border-left: 130px solid #0f7a5e;
  border-bottom: 75px solid transparent;
  position: absolute;
  bottom: 22px;
  left: 110px;
  transform: rotate(-180deg);
}
.grenada .gren-elements{
  position: absolute;
  left: 0px;
  width: 240px;
  height: 200px;
  background: url(../images/Flag_of_Grenada.png);
  background-repeat: no-repeat;
  background-size: 260px 200px;

}
/* .gren-star-five {
   margin: px 0;
   position: relative;
   display: block;
   color: #fbd133;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #fbd133;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.gren-star-five:before {
   border-bottom: 80px solid #fbd133;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.gren-star-five:after {
   position: absolute;
   display: block;
   color: #fbd133;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #fbd133;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
} */

.jamaica{
  box-sizing: border-box;
  position: relative;
  width: 260px;
  background-size: 80px 80px;
  background-color: #f9d412;
  overflow: hidden;
}
.jamaica .jatri-left{
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 95px solid transparent;
  border-left: 130px solid black;
  border-bottom: 95px solid transparent;
  position: absolute;
  bottom: -1px;
  left: -10px;
}
.jamaica .jatri-right{
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 95px solid transparent;
  border-left: 130px solid black;
  border-bottom: 95px solid transparent;
  position: absolute;
  bottom: -1px;
  left: 140px;
  transform: rotate(-180deg);
}
.jamaica .jatri-top{
  width: 0px;
  height: 0px;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-top: 140px solid #249e35;
  position: absolute;
  bottom: 110px;
  left: -50px;
}
.jamaica .jatri-bottom{
  width: 0px;
  height: 0px;
  border-left: 180px solid transparent;
  border-right: 180px solid transparent;
  border-top: 140px solid #249e35;
  position: absolute;
  bottom: -60px;
  left: -50px;
  transform: rotate(-180deg);
}

.newzealand{
  box-sizing: border-box;
  background-color: #021f67;
  border-right: 80px solid #021f67;
  border-left: 80px solid #021f67;
  width: 80px;
}

.papuanewguniea{
  box-sizing: border-box;
  position: relative;
  background-color: #000000;
  width:260px;
  overflow: hidden;
}
.papuanewguniea .paparedtri{
  width: 0px;
  height: 0px;
  border-top: 400px solid red;
  border-left: 400px solid transparent;
  position: absolute;
  bottom: -96px;
  left: -80px;
  transform: rotate(-8deg);
}

.papuanewguniea .papa-elements{
  position: absolute;
  left: 0px;
  width: 260px;
  height: 200px;
  background: url(../images/papua_NG.png);
  background-repeat: no-repeat;
  background-size: 260px 200px;

}

.saintkittsnevis{
  box-sizing: border-box;
  position: relative;
  background-color: #f7d41b;
  width: 260px;
  overflow: hidden;
}
.saintkittsnevis .sklefttri{
  position: absolute;
  left: -20px;
  bottom: 0px;
  width:0;
  height:0;
  border-top: 300px solid #25a146;
  border-right: 300px solid transparent;
}
.saintkittsnevis .skrighttri{
  position: absolute;
  left: 60px;
  bottom: 0px;
  width:0px;
  height:0px;
  border-bottom: 300px solid red;
  border-left: 300px solid transparent;
}
.saintkittsnevis .skblackbox{
  position: absolute;
  bottom: 40px;
  left: -220px;
  background-color: #000000;
  width: 600px;
  height: 40px;
  overflow: hidden;
  transform: rotate(-45deg);
}
.saintkittsnevis .skelements{
  position: absolute;
  left: 80px;
  bottom: -65px;
  width: 260px;
  height: 200px;
  background: url(../images/skn.png);
  transform: rotate(-5deg);
  background-repeat: no-repeat;
  background-size: 80px 80px;

}


.stlucia{
  box-sizing: border-box;
  position: relative;
  background-color:#76cdfe;
  width: 260px;
}
.stlucia .slwhitetri{
  box-sizing: border-box;
  position: absolute;
  left:65px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 150px solid white;

}
.stlucia .slblacktri{
  box-sizing: border-box;
  position: absolute;
  left: 70px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 125px solid black;


}
.stlucia .slyellowtri{
  box-sizing: border-box;
  position: absolute;
  left: 65px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 70px solid yellow;
}

.stvincent{
  box-sizing: border-box;
  background-color:#f7d41b;
  border-right: 80px solid #27a15f;
  border-left: 80px solid #2b70c7;
  width: 80px;
}


.stv-diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -50px;
}
.stv-diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: red;
}


.solomonislands{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color: #239e35;
}
.tuvalu{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color: #6398b2;
}
.unitedkingdom{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color: #13197e;
}
.bahrain{
  width: 260px;
  background-size: 80px 80px;
  background-color: #c80029;
}
.bahrain{
  width: 260px;
  background-size: 80px 80px;
  background-color: #c80029;
}
.belgium{
  box-sizing: border-box;
  background-color:#f6e243;
  border-right: 80px solid #000000;
  border-left: 80px solid #e61c3d;
  width: 80px;
}
.bhutan{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#f74a1f;
}
.darussalam{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#f3e319;
}
.cambodia{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#1c23a2;
}
.denmark{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#c10032;
}
.japan{
  box-sizing: border-box;
  position: relative;
  width: 260px;
  border: 1px solid #000;
  background-size: 80px 80px;
  background-color:#ffffff;

}
.japan .circle{
  position: absolute;
  width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  bottom: 55px;
  left: 75px;
}
.jordan{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#1a7c39;
}
.kuwait{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#1a7c39;
}
.lesotho{
  box-sizing: border-box;
  width: 260px;
  background-size: 80px 80px;
  background-color:#22983f;
}
